################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/datasets
/.vs/AP_EX4/v16/Browse.VC.db
/.vs/AP_EX4/v16/Browse.VC.db-shm
/.vs/AP_EX4/v16/Browse.VC.db-wal
/.vs/AP_EX4/v16/Browse.VC.opendb
*.json
/.vs/slnx.sqlite
/.vs/AP_EX4/v16/.suo
.vscode/Makefile
.vscode/Makefile
